Aulas/enviaremail/src/main/app/enviaremail.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="enviaremailFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" allowedMethods="GET" doc:name="HTTP"/>
        <http:static-resource-handler resourceBase="${app.home}/docroot" doc:name="HTTP Static Resource Handler"/>
    </flow>
    <flow name="enviaremailFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/tratarForm" doc:name="HTTP"/>
        <component class="br.ufsc.das.Tratamento" doc:name="Tratar Form"/>
        <set-property propertyName="destinatarioEmail" value="#[payload.emailCliente]" doc:name="Definindo Destinatario Final"/>
        <component class="br.ufsc.das.MontaCorpoMensagem" doc:name="Monta Msg"/>
        <set-payload value="#[payload]" mimeType="text/plain" doc:name="Set Payload"/>
        <smtp:outbound-endpoint host="smtp.sistemas.ufsc.br" port="587" user="testedas" password="testedas" to="#[message.outboundProperties.'destinatarioEmail']" from="testedas@sistemas.ufsc.br" subject="Pedido efetuado" responseTimeout="10000" doc:name="SMTP Enviar Email"/>
    </flow>
</mule>
