Aulas/exemplo-branch-join/src/main/app/exemplo-branch-join.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    
    <flow name="exemplo-branch-joinFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <http:static-resource-handler resourceBase="${app.home}/docroot"  doc:name="HTTP Static Resource Handler"/>
    </flow>
    <flow name="exemplo-branch-joinFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/tratarForm" doc:name="HTTP"/>
        <component class="br.ufsc.das.Tratamento" doc:name="Java"/>
        <enricher doc:name="Message Enricher">
            <scatter-gather doc:name="Scatter-Gather">
                <processor-chain>
                    <component class="br.ufsc.das.TratarPedidoReator" doc:name="Java"/>
                    <enricher doc:name="Message Enricher">
                        <processor-chain doc:name="Processor Chain">
                            <component class="br.ufsc.das.SimulacaoInvocacaoStarkSystem" doc:name="Java"/>
                        </processor-chain>
                        <enrich source="#[payload.total]" target="#[payload.total]"/>
                        <enrich source="#[payload.codigo]" target="#[payload.codigo]"/>
                    </enricher>
                </processor-chain>
                <processor-chain>
                    <component class="br.ufsc.das.TratarPedidoRobo" doc:name="Java"/>
                    <enricher doc:name="Message Enricher">
                        <processor-chain doc:name="Processor Chain">
                            <component class="br.ufsc.das.SimulacaoInvocacaoBrRobotics" doc:name="Java"/>
                        </processor-chain>
                        <enrich source="#[payload.total]" target="#[payload.total]"/>
                        <enrich source="#[payload.codigo]" target="#[payload.codigo]"/>
                    </enricher>
                </processor-chain>
            </scatter-gather>
            <enrich source="#[payload]" target="#[payload.pecas]"/>
        </enricher>
        <component class="br.ufsc.das.TratarResultadoPedido" doc:name="Java"/>
        <object-to-string-transformer mimeType="text/plain" doc:name="Object to String"/>
    </flow>
</mule>
